@use "../../styles/main.scss" as *;

.badge {
  @include text-style(12);
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;

  // NOTE: icon
  &-icon {
    &.is-alert {
      font-size: 14px;
    }

    &.is-check,
    &.is-close {
      font-size: 18px;
    }
  }

  // NOTE: color
  &.gray {
    background-color: $gray-light;
    color: $secondary;
  }

  &.red {
    background-color: $pink-light;
    color: $orange-dark;
  }

  &.green {
    background-color: $green-bright;
    color: $green;
  }
}
