@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard";
  letter-spacing: -0.02em;
  line-height: 150%;
}

html,
body {
  font-family: "Pretendard";
  letter-spacing: -0.02em;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

strong {
  font-weight: 400;
  color: inherit;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd {
  color: inherit;
}

a,
button {
  /* font-family: ; */
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

input,
textarea,
button,
select {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

i {
  color: inherit;
  pointer-events: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}
