$black: #000;
$dark: #111;
$primary: #333;
$secondary: #555;
$tertiary: #777;
$gray-dark: #aaa;
$gray: #ccc;
$gray-light: #ddd;
$white: #fff;

$orange: #ca5008;
$yellow: #ffdb00;

$green: #166534;
$green-light: #15803d;
$green-dark: #14532d;

$pink: #f9a8d4;
$pink-light: #fbcfe8;
$pink-dark: #f472b6;
