@use "../../shared/styles/main.scss" as *;

.list {
  @include flexbox();
  @include flex-wrap();
  margin: 0 -4px;
}

.item {
  width: 50%;
  padding: 4px;

  @include screen-tablet {
    width: 25%;
    padding: 8px;
  }
}

.empty {
  @include flexbox("center", "center");
  margin: 24px;
  min-height: 20vh;
  border-radius: 12px;
  border: 1px solid $gray;
  color: $tertiary;
}
